/* 
    Document   : indexcss
    Created on : Feb 16, 2015, 8:41:59 PM
    Author     : Ashley
    Description: Purpose of the stylesheet follows.
*/
h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

/*#main_container {
    border-top-color: red;
    border-top-width: 5px;
    border-bottom-color: red;
    border-bottom-width: 5px;
    position: fixed;
    height: 99%;
    width: 99%;
    padding: 5px;
    background-color: green;
}*/

#query_container {
    float: left;
    width: 30%;
    height: 60%;
    background-color: yellow;
}

#map_container {
    float: right;
    width: 50%;
    height: 95%;
    background-color: pink;
}

 #ddl_carrier {
 }
 
 #tb_node_id {
 } 
 
 #ddl_mcc {
 }
 
 #Submit1 {
 }
 
 #sltCarrier {
 }
 
 #sltNode {
 }
 
 #resultstable {
     width: 300px;
     padding: 10px;
     background-color: #c5e7e0;
     float: right;
 }
 
 #tbl_query {
    width: 30%;
    padding: 10px;
    background-color: #c5e7e0;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}
   
