<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description></description>
        <res-ref-name>jdbc:vertica://Vertsyn.duckdns.org:5433/USF_Syniverse_Student</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet>
        <servlet-name>SyniverseFormHandlerServlet</servlet-name>
        <servlet-class>SyniverseFormHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SyniverseFormHandlerServlet</servlet-name>
        <url-pattern>/SyniverseFormHandlerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>start.jsp</welcome-file>
    </welcome-file-list>
</web-app>
